# ======================
# Node environment
# ======================
API_KEY=your_api_key_here
NODE_ENV=dev
PORT=3000

# ======================
# Database environment
# ======================
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=namebbdd
DB_PORT_HOST=3306
PMA_PORT_HOST=8080

# ======================
# Container environment
# ======================
CONTAINER_PORT_HOST=3306
CONTAINER_VOLUMEN=./mysql_data
CONTAINER_PMA_HOST=mysql
CONTAINER_PMA_PORT_HOST=80
CONTAINER_MYSQL_IMAGE=mysql:5
CONTAINER_PMA_IMAGE=phpmyadmin/phpmyadmin
